@import "tailwindcss";

html,
body,
#root {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background: #090806;
}

body {
  font-family: Inter, system-ui, sans-serif;
}

* {
  box-sizing: border-box;
}
